<h1 align="center"><g><%= @game.title%></g></h1>
<%= form_for(@game) do |f| %>
  <label>Game title: <%= f.text_field :title %></label><br>
  
  <label>Game Developer: <%= f.text_field :developer %></label><br>
  
  <label>Genre: <%= f.text_field :genre %></label><br>

  <%= f.submit %>
<% end %>