<%= form_for(@game) do |g| %>
    <label>Game title: <%= g.text_field :title %></label><br>
  
    <label>Game Developer: <%= g.text_field :developer %></label><br>
  
    <label>Genre: <%= g.text_field :genre %></label><br>
    
    <%= g.submit %>
<% end %>